<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dish (name, category_id, price, image, description, status, create_time, update_time, create_user, update_user)
        VALUES (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{status}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <delete id="deleteById">
        DELETE FROM dish WHERE id = #{id}
    </delete>

    <delete id="deleteByIds">
        DELETE FROM dish WHERE id IN
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <select id="pageQuery" resultType="com.sky.entity.Dish">
        SELECT d.id, d.name, d.price, d.image, d.description, d.status, d.update_time, c.name AS categoryName
        FROM dish d
        LEFT JOIN category c ON d.category_id = c.id
        <where>
            <if test="name != null and name != ''">
                AND d.name LIKE concat('%', #{name}, '%')
            </if>
        </where>
    </select>

</mapper>
