<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">

    <insert id="insertBatch">
        insert into order_detail (id, name, image, order_id, dish_id, setmeal_id,
                                  dish_flavor, number, amount)
        values
        <foreach collection="ordersDetailList" item="orderDetail" separator=",">
            (#{orderDetail.id}, #{orderDetail.name}, #{orderDetail.image}, #{orderDetail.orderId},
             #{orderDetail.dishId}, #{orderDetail.setmealId}, #{orderDetail.dishFlavor},
             #{orderDetail.number}, #{orderDetail.amount})
        </foreach>
    </insert>
    <select id="getByOrderId" resultType="com.sky.entity.OrderDetail">
        select * from order_detail where order_id = #{orderId}
    </select>
    <select id="getTopName" resultType="string">
        select name as number from order_detail
        where order_id in
        (select id from orders where order_time &gt;= #{beginTime} and order_time &lt;= #{endTime})
        group by name
        order by number desc
        limit 10
    </select>
    <select id="getTopNumber" resultType="integer">
        select sum(number) as number from order_detail
        where order_id in
        (select id from orders where order_time &gt;= #{beginTime} and order_time &lt;= #{endTime})
        group by name
        order by number desc
        limit 10
    </select>
</mapper>
